
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json


# === Terraform ===
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.tfstate
terraform.tfstate.backup

# Optional: local override files
*_override.tf
*_override.tf.json

# === Helm ===
# Chart dependencies (like those from 'helm dependency update')
charts/
Chart.lock

# Helm release metadata
release.yaml
values.yaml.secret*
secrets.yaml
*.tgz

# === General ===
# Editor/IDE

.idea/
.DS_Store
*.swp
*.swo
*.bak

# Logs
*.log

# === Linux + Bash ===
*.tar.gz
*.tmp
*.out